/* ------------------------------------------------------------ */

/* -----> RESET.CSS INCLUDED HERE TO REDUCE SERVER CALLS <----- */

/* ------------------------------------------------------------ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  zoom: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* ----- Reset End ----- */

/* base styles */

:root {
  --titlePrimaryColor: #abbdff;
  --titleSecundaryColor: #00aed1;
  --authorTextColor: #c1c1c1;
  --bodyTextColor: #f3f3f3;
  --btnTextColor: #001526;
  --btnFillColor: #abbdff;
  --btnHoverFill: #c1cefd;
  --btnBorderRadius: 8px;
  --btnPadding: 0.7em 1em;
  --mainBackgroundColor: #001526;
  --maxWidthPage: 1920px;
  --blogMaxWidth: 250px;
  --hyperlinkColor: #4493f8;
  --incorrectForm: #ff0000;
}

#root {
  width: 100%;
  height: 100vh;
  font-family: "Roboto";
  color: var(--bodyTextColor);
}

body {
  background-color: var(--mainBackgroundColor);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  color: var(--titlePrimaryColor);
  font-size: 24px;
}

.App h2 {
  color: var(--titleSecundaryColor);
  font-size: 20px;
}

.App button {
  padding: var(--btnPadding);
  border-radius: var(--btnBorderRadius);
  background-color: var(--btnFillColor);
  color: var(--btnTextColor);
  font-weight: 700;
  cursor: pointer;
}

.actionBtn:hover {
  opacity: 0.9;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: unset !important;
}

.hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #002e54;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar>div {
  width: 100%;
  max-width: var(--maxWidthPage);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer svg {
  display: block;
  height: 25px;
  margin-right: 10px;
}

.navbar h1 {
  font-size: 26px;
  line-height: 0.8;
  white-space: nowrap;
}

.navbar .links {
  margin-left: auto;
}

.links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: var(--titlePrimaryColor);
  white-space: nowrap;
}

.navbar a:hover {
  color: var(--titleSecundaryColor);
}

.links .login-btn {
  padding: 0.5em 0.9em;
  background-color: var(--btnFillColor);
  color: var(--btnTextColor);
  border-radius: var(--btnBorderRadius);
  line-height: 1;
  white-space: nowrap;
}

.links .login-btn:hover {
  color: var(--btnTextColor);
  background-color: var(--btnHoverFill);
}

.content {
  width: 100%;
  max-width: var(--maxWidthPage);
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

/* Home */
.home {
  text-align: center;
}

.homeMsg {
  width: fit-content;
  padding: 10px;
  background-color: var(--titleSecundaryColor);
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: left;
}

.homeMsg>h1 {
  color: var(--mainBackgroundColor);
  font-size: 50px;
  line-height: 1;
}

.homeMsg>p {
  color: #000;
  font-size: 20px;
  line-height: 1.1;
  margin-top: 10px;
}


/* blog previews / list */
.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.blog-list h1 {
  text-align: center;
}

.blogContainers {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  gap: 10px 20px;
  flex-wrap: wrap;
}

.blog-preview {
  flex-grow: 1;
  max-width: var(--blogMaxWidth);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;
  text-align: left;
}

.blog-preview:hover {
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
}

.blog-preview a {
  display: block;
  color: var(--fontColor);
  text-decoration: none;
}

.blog-preview img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.blog-preview h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.blog-preview h2,
.blog-preview .author,
.blog-preview .blogDate {
  padding: 0 6px;
}

.author {
  color: var(--authorTextColor);
  font-size: 13px;
}

.blogDate {
  color: var(--authorTextColor);
  margin: 15px 0;
  font-size: 13px;
}

/* blog details page */
.blog-details {
  height: 100%;
}

.blog-details>article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-details .blogTitle {
  margin-bottom: 10px;
}

.blog-details .body {
  margin-top: 20px;
  font-size: 16px;
  white-space: pre-line;
}

.blog-details button {
  background: var(--titlePrimaryColor);
  color: var(--btnTextColor);
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  border: 0;
  padding: var(--btnPadding);
  border-radius: var(--btnBorderRadius);
  cursor: pointer;
  margin-top: auto;
}

.confirmDelete {
  padding: 30px;
}

.confirmDelete>p {
  font-size: 16px;
  line-height: 1.1;
  color: var(--btnTextColor);
  margin-bottom: 10px;
  text-align: center;
}

.confirmBtnCont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.confirmDelete .deleteYes {
  background-color: green;
  color: var(--bodyTextColor);
  margin-right: 10px;
}

.confirmDelete .deleteNo {
  background-color: #b00000;
  color: var(--bodyTextColor);
}

.deleteMsgBack {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 !important;
  z-index: 999;
}

.deleteMsgCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bodyTextColor);
  border-radius: 10px;
}

.deleteMsg {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleteMsg>svg {
  fill: green;
  font-size: 110px;
}

.deleteMsg>p {
  font-size: 30px;
  line-height: 1;
  color: var(--btnTextColor);
  white-space: nowrap;
}

.deleteMsg>button {
  display: block;
  width: fit-content;
  background-color: var(--btnFillColor);
  color: var(--btnTextColor);
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  border-radius: var(--btnBorderRadius);
  padding: var(--btnPadding);
  margin-top: 20px;
}

/* create new blog form */
.create {
  margin: 0 auto;
  text-align: center;
}

.createTitle {
  margin-bottom: 10px;
}

.create label {
  text-align: left;
  display: block;
  color: var(--titleSecundaryColor);
}

.create h2 {
  margin-bottom: 30px;
}

.create form {
  max-width: 970px;
  margin: 0 auto;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  color: #000;
  background-color: var(--bodyTextColor);
  display: block;
  font-family: 'Roboto';
  font-weight: 400;
  outline-color: var(--mainBackgroundColor);
  box-sizing: border-box;
}

.create .titleInput {
  height: auto;
}

.create .bodyInput {
  height: 250px;
}

.create .selectInput {
  width: fit-content;
}

.create button {
  font-size: 14px;
  line-height: 1;
  border: 0;
  cursor: pointer;
}

/* Not Found page */
.not-found>h2,
.not-found>p {
  margin-bottom: 20px;
}

.not-found>a {
  display: block;
  width: fit-content;
  padding: var(--btnPadding);
  background-color: var(--btnFillColor);
  border-radius: var(--btnBorderRadius);
  color: var(--btnTextColor);
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
}

.not-found>a:hover {
  opacity: 0.9;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #002e54;
  padding: 20px;
}

.footer>div {
  width: 100%;
  max-width: var(--maxWidthPage);
}

.footer p {
  font-size: 13px;
  color: var(--authorTextColor);
}

@media screen and (min-width: 700px) {
  .viewAllBtn:hover {
    background-color: var(--btnHoverFill);
  }
}

@media screen and (max-width: 700px) {
  .navbar a:hover {
    color: var(--titlePrimaryColor);
  }

  a:hover,
  button:hover {
    opacity: 1 !important;
  }

  .blog-preview:hover {
    box-shadow: unset;
  }

  .App h1 {
    font-size: 18px;
  }

  .App h2 {
    font-size: 16px;
  }

  .navbar {
    padding: 15px;
  }

  .logoContainer svg {
    height: 18px;
  }

  .navbar h1 {
    font-size: 20px;
  }

  .links a {
    margin-left: 8px;
    font-size: 12px;
  }

  .homeMsg>h1 {
    font-size: 30px;
  }

  .homeMsg>p {
    font-size: 15px;
  }

  .blog-details h2 {
    margin-bottom: 5px;
  }

  .author,
  .blogDate {
    font-size: 11px;
  }

  .blog-details .body {
    margin-top: 15px;
    font-size: 12px;
  }

  .blog-details button {
    font-size: 12px;
  }

  .deleteMsg>p {
    font-size: 16px;
  }

  .deleteMsg>svg {
    font-size: 50px;
  }

  .confirmDelete>p {
    font-size: 14px;
  }

  .deleteMsg>button {
    margin-top: 10px;
  }

  .footer p {
    font-size: 12px;
  }
}